/src/main.o
/src/game
/src/server.o
/src/serv
.vscode/
SFML-2.5.1
serv.exe
game.exe
/src/assets/collisionMaker.o
/src/assets/tileEdit.exe
/src/assets/mapMaker.o
/src/assets/mapEdit.exe
/src/assets/srvMapMaker.o
/src/assets/srvMapEdit.exe
/src/assets/tileEdit
/src/assets/mapEdit
/src/assets/srvMapEdit
a.out
/src/tests
/src/tests.exe
/src/main-test.o
/src/*.dll
/evaluation
/plan
